{% extends 'base_estoque.html' %}

{% block content %}

<div class="topbar">

    <div class="topbar-title">

        ⬆️ Saídas

    </div>

</div>

<div class="welcome">

    <div>

        <h1>

            Controle de Saídas

        </h1>

        <p>

            Registre retiradas e entregas.

        </p>

    </div>

    <button
        class="btn-add"
        onclick="abrirModal()"
    >

        + Nova Saída

    </button>

</div>

<div class="box">

    <table>

        <thead>

            <tr>

                <th>Produto</th>
                <th>Quantidade</th>
                <th>Destino</th>
                <th>Observação</th>
                <th>Usuário</th>
                <th>Data</th>

            </tr>

        </thead>

        <tbody>

            {% for saida in saidas %}

            <tr>

                <td>{{ saida.produto }}</td>

                <td>{{ saida.quantidade }}</td>

                <td>{{ saida.destino }}</td>

                <td>{{ saida.observacao }}</td>

                <td>{{ saida.usuario }}</td>

                <td>{{ saida.data }}</td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

<!-- MODAL -->

<div
    class="modal"
    id="modalProduto"
>

    <div class="modal-box">

        <h2>

            Nova Saída

        </h2>

        <form
            method="POST"
            action="/cadastrar_saida"
        >

            <input
                type="text"
                name="produto"
                placeholder="Produto"
                required
            >

            <input
                type="number"
                name="quantidade"
                placeholder="Quantidade"
                required
            >

            <input
                type="text"
                name="destino"
                placeholder="Destino"
                required
            >

            <input
                type="date"
                name="data"
                required
            >

            <textarea
                name="observacao"
                placeholder="Observação"
            ></textarea>

            <button type="submit">

                Salvar Saída

            </button>

        </form>

    </div>

</div>

<script>

function abrirModal(){

    document
    .getElementById('modalProduto')
    .style.display = 'flex';

}

window.onclick = function(event){

    let modal =
    document.getElementById('modalProduto');

    if(event.target == modal){

        modal.style.display = 'none';

    }

}

</script>

{% endblock %}